_ignore*
_site/
.DS_Store
.vscode
node_modules/

config/

content/blog/**/*.gif
content/blog/**/*.jpeg
content/blog/**/*.jpg
content/blog/**/*.pdf
content/blog/**/*.png
content/blog/**/*.svg
content/static/archive/

.frontmatter
frontmatter.json
