---
permalink: /blog/
layout: home.njk
numberOfLatestPostsToShow: 10
---
{% set postslist = collections.post | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = collections.post | length %}
{% include "postslist.njk" %}
