---
permalink: /blog/tag/{{ tag | slugify }}/
layout: home.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag }}”
---
{%- set postslist = collections[tag] | sortByDate -%}

<h1>{{collections[tag].length | units('post')}} tagged “{{ tag }}”</h1>

{%- set introPath %}_includes/tag/{{ tag | slugify }}.md{% endset -%}
{%- if introPath | fileExists %}
  {% renderFile introPath %}
  <hr/>
{% endif -%}

{%- include "postslist.njk" -%}
