<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="{{ metadata.color }}"/>
    <meta name="msapplication-TileColor" content="{{ metadata.color }}"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@TheMetaist"/>
    <meta name="twitter:creator" content="@TheMetaist"/>

    {% if tags and "post" in tags -%}
      <meta property="og:type" content="article"/>
    {% else -%}
      <meta property="og:type" content="website"/>
    {%- endif %}
    {% if title -%}
      <title>{{ title }} - {{ metadata.title }}</title>
      <meta property="og:title" content="{{ title }} - {{ metadata.title }}"/>
    {% else -%}
      <title>{{ metadata.title }}</title>
      <meta property="og:title" content="{{ metadata.title }}" data-pagefind-meta="title[content]"/>
    {%- endif %}
    <meta name="description" content="{{ description or metadata.description }}"/>
    <meta property="og:description" content="{{ description or metadata.description }}"/>
    <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}"/>

    {% if metadata.IS_DEV -%}
      {% if thumbnail -%}<meta property="og:image" content="{{thumbnail}}" data-pagefind-meta="image[content]"/>{%- endif %}
      <link rel="alternate" type="application/atom+xml" title="{{ metadata.title }}" href="/blog/feed/index.xml"/>
    {%- else -%}
      {% if thumbnail -%}<meta property="og:image" content="{{thumbnail | htmlBaseUrl(metadata.url)}}" data-pagefind-meta="image[content]"/>{%- endif %}
      <link rel="alternate" type="application/atom+xml" title="{{ metadata.title }}" href="https://feeds.feedburner.com/metaist"/>
    {%- endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"/>
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"/>
    <link rel="stylesheet" href="/style.css"/>
    <style>
      {% getBundle "css" %}
    </style>
  </head>
  <body>
    <a href="#skip" class="visually-hidden">Skip to main content</a>

    <header>
      <a href="/blog" class="home-link">{{ metadata.title }}</a>

      <nav>
        <h2 class="visually-hidden">Top level navigation menu</h2>
        <ul class="nav">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item">
              <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>

    <div id="search" style="padding-top: 0.5rem;"></div>
    <link rel="stylesheet" href="/pagefind/pagefind-ui.css"/>
    <script src="/pagefind/pagefind-ui.js"></script>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({element: "#search", showSubResults: true});
      });
    </script>

    <main id="skip">{{ content | safe }}</main>

    <footer>
      <ul>
        <li>
          <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> Metaist LLC</li>
        <li>
          <a href="/terms">Terms</a>
        </li>
        <li>
          <a href="/privacy">Privacy</a>
        </li>
        <li>
          <a href="https://github.com/metaist">GitHub</a>
        </li>
      </ul>
    </footer>

    <!-- Current page: {{ page.url | htmlBaseUrl }} -->
  </body>
</html>
