---
layout: base.njk
---
<article data-pagefind-body>
  {% set post = {
    url: page.url,
    content: content,
    data: {
      draft: draft,
      created: created,
      updated: updated,
      title: title,
      description: description,
      tags: tags,
      link: link
    }
  } %}

  {% include "post-content.njk" %}
  {% include "post-metadata.njk" %}
</article>
