---
layout: base.njk
---

<article data-pagefind-body>
  {%- if draft %}
    <div class="draft-banner" style="color: #fff; background-color: #f53; text-align: center">DRAFT</div>
  {% endif -%}

  <h1>{{ title }}</h1>
  <ul class="post-metadata">
    <li>
      <time datetime="{{ created | htmlDateString }}">{{ created | readableDate("yyyy-LL-dd") }}</time>
    </li>
    {%- for tag in tags | filterTagList %}
      {%- set tagUrl %}/blog/tag/{{ tag | slugify }}/{% endset %}
      <li>
        <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
        {%- if not loop.last %}, {% endif %}
      </li>
    {%- endfor %}
  </ul>

  {{ content | safe }}
</article>
