<div class="posts">
  {% for post in postslist | reverse %}
    <div class="post">
      {% if post.data.thumbnail %}
        <a href="{{ post.url }}"><img src="{{post.data.thumbnail}}" alt="{{post.data.title}}"/></a>
      {% endif %}

      <div>
        {% if post.data.draft %}
          <span class="draft">DRAFT</span>
        {% endif %}

        <time title="{{post.data.created.toISOString()}}" datetime="{{ post.data.created | htmlDateString }}">{{ post.data.created | readableDate("yyyy-LL-dd") }}</time><br/>

        <a href="{{ post.url }}">
          {% if post.data.title %}{{ post.data.title }}
          {% else %}
            <code>{{ post.url }}</code>
          {% endif %}
        </a>
      </div>
    </div>
  {% endfor %}
</div>
