<div class="posts">
  {% for post in postslist | reverse %}
    <div class="post">
      <div class="left">
        <div class="post-metadata">
          <time
            title="{{post.data.created.toISOString()}}"
            datetime="{{ post.data.created | htmlDateString }}">{{ post.data.created | readableDate("yyyy-LL-dd") }}</time>

          {% if post.data.draft %}
            <span class="draft">DRAFT</span>
          {% endif %}
        </div>

        <a href="{{ post.url }}">
          {%- if post.data.title %}{{ post.data.title }}
          {% else %}
            <code>{{ post.url }}</code>
          {% endif -%}
        </a>
        {%- if post.data.description -%}
          <br/>
          <span class="description">
            <em>{{post.data.description}}</em>
          </span>
        {% endif %}
      </div>

      {% if post.data.thumbnail %}
        <a href="{{ post.url }}"><img src="{{post.data.thumbnail}}" alt="{{post.data.title}}"/></a>
      {% endif %}
    </div>
  {% endfor %}
</div>
